################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPlayer.Test/bin/Debug
/EPlayer.Test/obj/Debug
/obj
/bin
/.vs/EPlayer
/EPlayer.Test/bin/Release/netcoreapp3.1
/EPlayer.Test/obj
